In [153]:
import sys
import keyword
import operator
from datetime import datetime
import os

## KeyWOrds
# Keywords are the reserved words in Python and can't be used as an identifier

print(keyword.kwlist) # List all Python Keywords

In [157]:
len(keyword.kwlist) # Python contains 35 keywords

35

# Identifiers
## An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another

In [160]:
#1var = 10 # Identifier can't start with a digit
#val2@ = 35 # Identifier can't use special symbols
#import = 125 # Keywords can't be used as identifiers

In [162]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
val2 = 10

# Statements
## Instructions that a Python interpreter can execut

In [165]:
#Single line statement
p1 = 10 + 20
p1

30

In [167]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
p2

['a', 'b', 'c', 'd']

In [169]:
#Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 +\
+ 70 + 80
p1

290

In [171]:
#Multiple line statement
p2 = ['a' ,
'b' ,
'c' ,
'd'
]
p2

['a', 'b', 'c', 'd']

# Indentation
## Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses
## indentation to indicate a block of code.If the indentation is not correct we will endup with
## IndentationError error

In [174]:
p = 10
if p == 10:
    print ('P is equal to 10') # correct indentation

P is equal to 10

In [176]:
for i in range(0,5): #
    print(i) # correct indentation

0
1
2
3
4

In [178]:
j=20
for i in range(0,5): #range(0, 5) generates a sequence of numbers from 0 to 4 (inclusive).
    print(i) # inside the for loop
print(j) # outside the for loo

0
1
2
3
4
20

# Docstrings
## 1) Docstrings provide a convenient way of associating documentation with functions, classes, methods or modules.
## 2) They appear right after the definition of a function, method, class, or module.

In [181]:
def square(X): #Square Function :- This function will return the square of a number'''
    return X**2

In [183]:
square(2) #Square Function :- This function will return the square of a number'

4

In [185]:
square.__doc__ # We can access the Docstring using __doc__ method

In [187]:
def evenodd(num): #'''evenodd Function :- This function will test whether a numbr is Even or Odd '''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [189]:
evenodd(3) #'evenodd Function :- This function will test whether a numbr is Even or Odd

Odd Number

# Variables
## A Python variable is a reserved memory location to store values.A variable is created the moment you first assign a value to it.

In [192]:
p=30

In [194]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

140719340793176

In [196]:
hex(id(p)) # Memory address of the variable

'0x7ffbc6522d58'

In [198]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to point
q = 20 # Create new reference q which will point to value 20. p & q will be poin
r = q # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

(20, int, '0x7ffbc6522c18')

In [200]:
q , type(q), hex(id(q))

(20, int, '0x7ffbc6522c18')

In [202]:
r , type(r), hex(id(r))

(20, int, '0x7ffbc6522c18')

# Variable Assigment

In [205]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

# Multiple Assignments

In [208]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [210]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types
## Numeric

In [213]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int c

10
<class 'int'>
28
10  is Integer? True

In [215]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [217]:
sys.getsizeof(int()) # size of integer object in bytes

28

In [219]:
sys.getsizeof(float()) # size of integer object in bytes, this indicates that the integer object with the value 0 occupies 24 bytes of memory.

24

In [221]:
sys.getsizeof(complex()) # size of integer object in bytes

32

# Boolean
## Boolean data type can have only two possible values true or false

In [224]:
bool1 = True

In [226]:
print(type(bool1))

<class 'bool'>

In [228]:
isinstance(bool1, bool)

True

In [230]:
bool(0)

False

In [232]:
bool(1)

True

In [234]:
bool(None)

False

# Strings

## String Creation

In [238]:
mystr = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [240]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [242]:
mystr = '''Hello
          World ''' # Define string using triple quotes
print(mystr)

Hello
          World

In [244]:
mystr = """Hello
World""" # Define string using triple quotes
print(mystr)

Hello
World

In [246]:
mystr = ('Happy '
'Monday '
'Everyone')
print(mystr)

Happy Monday Everyone

In [248]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [250]:
len(mystr2) # Length of string

35

_________________________________________________________________>

 ####  0     1     2     3     4     5    6    7   8    9    10    11
###    H     E     L     L     O          P    Y   T    H    O     N
#### -12   -11   -10    -9   - 8   -7   -6   -5  -4   -3    -2    -1

<______________________________________________________________________

In [253]:
str1= "HELLO PYTHON"

In [255]:
str1

'HELLO PYTHON'

In [257]:
str1[0]

'H'

In [259]:
str1[len(str1)-1]  # Last character in string using len function

'N'

In [261]:
str1[-1] # Last character in string

'N'

In [263]:
str1[6] #Fetch 7th element of the string

'P'

In [265]:
str1[5]

' '

# String Slicing

In [268]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl

'HELLO'

In [270]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc ex

'PYTHON'

In [272]:
str1[:6] # Retreive first six characters of the string

'HELLO '

In [274]:
str1[-4:] # Retreive last four characters of the string

'THON'

# Update & Delete String

In [280]:
str1

'HELLO PYTHON'

In [282]:
#Strings are immutable which means elements of a string cannot be changed once th
 #str1[0:5] = 'HOLAA'

In [284]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

#  String concatenation

In [303]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

In [311]:
s4 = s1 + ' ' + s2
print(s4)

Hello Asif

#  Iterating through a String

In [314]:
mystr1 = "Hello Everyone"

In [318]:
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [326]:
for i in enumerate(mystr1):
   print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [328]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and retu

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

# String Membership

In [330]:
String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in s
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysr

True
True
False

#  String Partitioning

In [334]:
"""
The partition() method searches for a specified string and splits the string into
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

# String Functions

In [347]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [349]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [351]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [353]:
mystr2.lstrip() # Removes all whitespaces at the begining of the strin

'Hello Everyone '

In [355]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [357]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the stri

'Hello Everyone***********All the Best'

In [359]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the strin

'*********Hello Everyone***********All the Best'

In [361]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the strin

'Hello Everyone***********All the Best**********'

In [363]:
mystr2 = " Hello Everyone "

In [365]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [367]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [369]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [371]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [373]:
mystr5 = "one two Three one two two three"

In [375]:
mystr5.count("one") # Number of times substring "one" occurred in strng

2

In [377]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [379]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [381]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [387]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [389]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [395]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}" #res is a string with placeholders {} to represent where the values of item1, item2, and item3 will be inserted.
print(res.format(item1,item2,item3)) #.format() method is used to replace these placeholders with the actual values:

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [397]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [399]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as t
print(str2)

                                          WELCOME EVERYONE

In [401]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [403]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the
print(str2)

                                 WELCOME EVERYONE

In [407]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*')
#rjust() method to right-justify the string str2.
print(str2)

******************************** WELCOME EVERYONE

In [409]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [413]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [417]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9

False
True
False
False

In [419]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [423]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [425]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [427]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

# Using Escape Character

In [ ]:
#Using double quotes in the string is not allowed.
#mystr = "My favourite TV Series is "Game of Thrones""

In [436]:

#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

# List
## 1) List is an ordered sequence of items.
## 2) We can have different data types under a list. E.g we can have integer, float and string items in a same lis